<div class="cookie-overlay"></div>
<div class="cookie br-gray-10 rounded-md">
    <div class="cookie-inner d-f ai-c gap text-sm ">
        <div class="cookie-text">
            Мы используем файлы cookie, разработанные нашими специалистами и третьими лицами, для анализа событий на нашем веб-сайте,
            что позволяет нам улучшать взаимодействие с пользователями и обслуживание. Продолжая просмотр страниц нашего сайта,
            вы принимаете условия его использования. Более подробные сведения смотрите в нашей
            <a href="/include/licenses_detail.php">Политике в отношении файлов Cookie</a>.
        </div>
        <div class="cookie-btn">
            <button class="btn btn-primary">Принимаю</button>
        </div>
    </div>

    <div class="cookie-close">
        <i class="svg inline  svg-inline-" aria-hidden="true">
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13 1L1 13M1 1L13 13" stroke="#999999" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
        </i>
    </div>

</div>