.cookie{
  position: fixed;
  bottom: 20px;
  max-width: 1200px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--white);
  padding: 21px 40px 20px 26px;
  z-index: 100;

  // .cookie-overlay
  &-overlay{
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    background: #3a3f44;
    opacity: .7 !important;
  }

  // .cookie-inner
  &-inner{
    position: relative;
  }

  // .cookie-close
  &-close{
    position: absolute;
    top: 10px;
    right: 10px;
  }
}